h1 {
  transition: all 0.6s ease-out;

  margin-top: -5px;
  font-family: "Montserrat Alternates", sans-serif;
}
h1:hover {
  transform: translate(2px, 0);
}
#logo {
  color: #331391;
}
a:hover {
  text-decoration: none;
}
#navbar {
  font-family: "Montserrat", sans-serif;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  background: linear-gradient(175deg, #ffffff, #e6e6e6);
  box-shadow: 9px 9px 19px #a1a1a1, -9px -9px 19px #ffffff;
}
#pro-navbar {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
}

.tab {
  position: relative;
}

.tab:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0;
  bottom: 10%;
  left: 5%;
  background-color: #331391;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.tab:hover:before {
  visibility: visible;
  height: 1px;
}
