.container2 {
  /* object-position: center center;
  object-fit: cover;
  position: relative; */
  /* height: 100%; */
  /* display: block; */
}

#water img {
  width: 100%;
}

#column {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
}

.images-container {
  padding: 0;
}
